*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', Arial;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #797878;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}


#auth-form-container h2{
  font-size: clamp(1.5rem, 1.313rem + 0.938vw, 2.25rem);
}

#email-auth-container label,
#password-auth-container label{
  font-size: clamp(0.938rem, 0.766rem + 0.859vw, 1.625rem);
}
#email-auth-container input,
#password-auth-container input{
  font-size: clamp(0.813rem, 0.641rem + 0.859vw, 1.5rem);
}

#auth-submit-btn{
  font-size: clamp(0.875rem, 0.719rem + 0.781vw, 1.5rem);
}

#auth-switch-text{
  font-size: clamp(0.688rem, 0.594rem + 0.469vw, 1.063rem);
}

#auth-login-methods-container p{
  font-size: clamp(1.125rem, 1rem + 0.625vw, 1.625rem);
}


#logout{
  font-size: clamp(1rem, 0.938rem + 0.313vw, 1.25rem);
}

.day-name{
  font-size: clamp(1.75rem, 1.344rem + 2.031vw, 3.375rem);
}

.full-date{
  font-size: clamp(1.25rem, 1rem + 1.25vw, 2.25rem);
}

#add-task-form input,
#add-task-form button{
  font-size: clamp(0.75rem, 0.563rem + 0.938vw, 1.5rem);
}

#sort-by, #remove-all{
  font-size: clamp(0.813rem, 0.641rem + 0.859vw, 1.5rem);
}

.task-name, .task-settings{
  font-size: clamp(0.75rem, 0.625rem + 0.625vw, 1.25rem);
}

#settings-name-container label,
#settings-memo-container label{
  font-size: clamp(0.875rem, 0.625rem + 1.25vw, 1.875rem);
}

.settings-btn-container{
  font-size: clamp(0.813rem, 0.641rem + 0.859vw, 1.5rem);
}
  
.alert-text{
  font-size: clamp(1rem, 0.875rem + 0.625vw, 1.5rem);
}
  
.alert-btn{
  font-size: clamp(0.813rem, 0.703rem + 0.547vw, 1.25rem);
}